@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+KR:wght@100&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+KR:wght@100&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    justify-content: center;
}
.btn{
    background-color: #ffffff;
    color: rebeccapurple;
    font-family: inherit;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:focus{
    outline: none;

}
.btn:active{
    transform: scale(0.98);
}
.btn:hover{
    background-color: #f1f1f1;
}
#toast{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.toast{
    background-color: #fff;
    color: rebecapurple;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
}
.toast.info{
    background-color: #3498db;
    color: #fff;
}
.toast.success{
    background-color: #2ecc71;
    color: #fff;
}
.toast.error{
    color: red;
}