@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+KR:wght@100&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+KR:wght@100&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #8e44ad;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.counter-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    margin: 30px 50px; 
}
.counter{
    font-size: 60px;
    margin-top: 10px;
}
@media(max-width: 580px){
    body{
        flex-direction: column;
    }
}