@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+KR:wght@100&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+KR:wght@100&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}
.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 15px;
  width: 16px;
  margin: 2px;
  transition: 2s ease;
}
.square:hover {
  transition-duration: 0s;
}
